@import 'variables';

.checkbox-container {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  user-select: none;

  .checkbox {
    display: none;
  }

  .checkmark {
    width: 20px;
    height: 20px;
    background-color: #f0f0f0;
    border: 2px solid $primary-color;
    border-radius: 4px;
    position: relative;
    transition: background-color 0.3s ease, border-color 0.3s ease;

    &:after {
      content: "";
      position: absolute;
      left: 6px;
      top: 2px;
      width: 6px;
      height: 12px;
      border: solid white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      opacity: 0;
      transition: opacity 0.3s ease;
    }
  }

  .checkbox:checked + .checkmark {
    background-color: $primary-color;
    border-color: $primary-color;

    &:after {
      opacity: 1;
    }
  }
}
